<html lang="pt-br">
    <head>

        <meta http-equiv="X-Content-Type" content="text/html; charset=utf-8">
        <meta charset="utf-8"/>
        <title>ConvertMyMoney</title>
        <link rel='shortcut icon' href='/images/favicon.png'/>
        
        <link href='/estilos.css' rel='stylesheet' />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body class='body'>
        <h1><a href='/'><img src="/images/logo.png" alt='ConvertMyMoney'></a></h1>
        
